body{
    background-color: rgb(238, 234, 234);
}

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 10vh;
    /* background-color: blue; */
}

.icons-section{
    display: flex;
    justify-content: left;
}

.title-love{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#love{
    margin-right: 0.5rem;
    font-size: large;
}

.star-timestamp-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons{
    margin: 0.5rem;
    row-gap: 1.2rem;
}

#play{
    border-style: solid;
    font-size: larger;
    /* padding: 0.5rem; */
}


#watchlist{
    font-size: larger;
    justify-content:center;
}


#watchlist > i{
    color: blue;
    margin-right: 0.5rem;
}

#description{
    margin: auto;
}
/* #timestamp{

} */


@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
        min-height:100vh;
        position: relative;
    }


    #player-card{
        width: 98%;
        height: 100%; 
        margin: auto;
        margin-top: 1%;

    }
}


@media only screen and (min-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100vh;
        /* background-color: blue; */
    }
    #player-card{
        width: 98%;
        height: 85%; 
        margin: auto;
        margin-top: 1%;
    }
}


@media only screen and (min-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100vh;
        /* background-color: blue; */
    }
    #player-card{
        width: 98%;
        height: 85%; 
        margin: auto;
        margin-top: 1%;
    }
}



@media only screen and (min-width: 992px){
    .container{
        display: flex;
        flex-direction: row;
        position: relative;
        height: 100vh;
        /* background-color: blue; */
    }
    #player-card{
        width: 100%;
        /* height: 100%;  */
        margin: auto;
        margin-top: 1%;
    }
    
} 