.card{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    background-color: rgb(186, 184, 184);
    border-radius: 5px;
}


.icons-section{
    display: flex;
    justify-content: space-between;
    padding:0.5rem;
}

.buttons{
    display: flex;
    flex-direction: column;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    border-radius: 5px;
    width: 100%;
    outline: none;
    border-style: hidden;
}

#watchlist{
    margin-bottom: 0rem;
    width: 90%;
    height: 3rem;
    align-items: center;
    align-self: center;
    background-color: rgb(243, 243, 243);
}

#play{
    background-color: transparent;
    align-self: center;
    margin: 0.2rem;
    padding: 0.5rem;
    font-size:x-large;
}


 @media only screen and (max-width: 600px) {
    #poster{
        height: 50%;
        width: 100%;
    }
    .card{
        display:flex;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        align-self: center;
        height: 100vh;
        width: 80%;
        padding-left:0.2rem;
        padding-right:0.2rem;

    }
}



@media only screen and (min-width: 600px) {
    #poster{
        height: 60%;
        width: 100%;
    }
    .card{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-left:0.2rem;
        padding-right:0.2rem;
        width: 30%;
        height: 70vh;

    }
}



@media only screen and (min-width: 768px){
    #poster{
        height: 60%;
        width: 100%;
    }
    .card{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-left:0.2rem;
        padding-right:0.2rem;
        width: 35%;
        height: 70vh;

    }
}


@media only screen and (min-width: 992px){
    #poster{
        height: 50%;
        width: 100%;
    }
    .card{
        display:flex;
        flex-direction: column;
        padding-left:0.2rem;
        padding-right:0.2rem;
        width: 15%;
        height: 70vh;

    }
}