.card{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0.5rem;
    height:48rem;
    width: 20vw;
}

#poster{
    width:100%;
    height: 50%;
}

@media only screen and (max-width: 600px) {
    #poster{
        height: 60%;
    }
    .card{
        display:flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        width: 80%;

    }
}

@media only screen and (min-width: 768px){
   #poster{
        height: 50%;
   }
   .card{
    display: flex;
    flex-direction: column;
    width: 45%;
   }
}