.card{
    display: flex;
    flex-direction: column;
    height:400px;
    width: 20vw;
}

#poster{
    width:100%;
}

@media only screen and (max-width: 600px) {
    .card{
        display:flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
        width: 80%;
        margin-top: 5rem;
    }
  }
  body{
    min-height: 100vh;
  }